/* ===============================================================================================
SUMMARY
==================================================================================================
    General styling
    
*/


/* ===============================================================================================================
    General styling
================================================================================================================ */
html {
    outline: 1px solid red;
    outline-offset: -1px;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1, div {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Header ////////////////////////// */
header {
    height: 15vh;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

/* Screen size informations //////// */
#screenSize {
    outline: 2px solid green;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#screenWidth-container, #screenHeight-container {
    outline: 1px solid green;
    display: flex;
    flex-direction: column;
    background: chartreuse;
    padding: 10px;
    margin: 0;
}
.info {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: chartreuse;
    padding: 10px;
}

/* h1 ////////////////////////////// */
#h1rem {
    font-size: 1rem;
}
#h2rem {
    font-size: 2rem;
}
#h1em {
    font-size: 1em;
}
#h2em {
    font-size: 2em;
}
#h16px {
    font-size: 16px;
}
#h32px {
    font-size: 32px;
}
#h10vw {
    font-size: 10vw;
}
#h10vh {
    font-size: 5vh;
}
#h100pc {
    font-size: 100%;
}

/* div ///////////////////////////// */
div {
    background: rgb(29, 197, 248);
    height: 50px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#d80vw {
    width: 80vw;
}
#d80pc {
    width: 80%;
}
#d10rem {
    width: 10rem;
}
#d10em {
    width: 10em;
}
#d200px {
    width: 200px;
}

/* Footer /////////////////////////// */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 25vh;
    background-color: black;
    padding: 2rem;
    font-size: 2rem;
}

.footer_link {
    color: rgba(216,230,241,1);
    text-decoration: none;
    margin: 1rem 2rem 1rem 2rem;
}

.footer_link:hover {
    text-decoration: underline;
    opacity: 0.7;
}
#social-icons-container {
    display: flex;
    background: black;
    margin: 0;
}
.social-icon {
    border: 2px solid white;
    height: 4vh;
    background: rgb(255, 255, 255);
}
#github-icon {
    border-radius: 22%;
}
#linkedin-icon {
    border-radius: 50%;
}

